body {
    font-family: Arial;
    padding: 40px;
    background: #fafafa;
}

form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
}

button {
    padding: 10px;
    background: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}
